.form-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #34495e;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #dfe6e9;
    border-radius: 5px;
    font-size: 1em;
    background-color: white;
    color: black;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ubicacion{
    display: flex;
    /* justify-content: space-between; */
}

.ubicacion select{
    width: 20%;
}