.header {
    background-color: rgba(44, 62, 80, 0.9);
    padding: 15px 30px;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.header-nav {
    display: flex;
    align-items: center;
}

.user-menu {
    position: relative;
}

.user-menu-button {
    background-color: #3498db;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-content: center;
}

.user-menu-button:hover {
    background-color: #2980b9;
}

.user-menu-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 10px 0;
    min-width: 200px;
    z-index: 1000;
}

.user-menu-list li {
    padding: 0;
}

.user-menu-list button {
    width: 100%;
    padding: 10px 20px;
    background: none;
    border: none;
    text-align: left;
    color: #2c3e50;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-menu-list button:hover {
    background-color: #f0f0f0;
}

.header h1:hover{
    cursor: pointer;
}

.profile-picture {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
    margin-left: 1px;
}

.noti-container{
    margin-top: 8px;
    margin-left: 10px;
    position: relative;
    display: inline-block;
}

.noti-container:hover{
    cursor: pointer;
}

.noti-bell{
    width: 20px;
    height: 20px;
    color: white;
}

.noti-bell:hover{
    cursor: pointer;
    color: rgb(246, 246, 246);
}

.noti-badge {
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .noti-item{
    border-bottom: 1px solid #5c5c5cbd;
} */

.noti-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.notification-dropdown{
    position: absolute;
    top: 60px;
    right: 160px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    width: 495px;
    z-index: 1000;
    max-height: 254.4px;
    overflow-y: auto;
}

.notification-dropdown p {
    /* padding: 10px; */
    margin: 0;
    font-size: 14px;
    color: #2c3e50;
}